
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}
<div class="content">
    <div class="wrap">
        <div class="about">
            <br />
            <img src="~/web/images/about_banner.jpg" alt="" />

            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</div>

